<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>New Recipe</title>
  </head>
  <body>
    <form method="POST" action="/recipes">
      <p>Enter Recipe Name: <input type="text" name="name" value=""></p>
      <p>Ingrediens: <input type="text" name="ingredients" value=""></p>
      <p>Cook Time: <input type="text" name="cook_time" value=""></p>
      <input type="submit" value="submit">
    </form>
  </body>
</html>
